{padding:0; margin:0;    }
* {padding:0; margin:0;}
h1, h2, h3, h4, h5, h6, p, span, label, input, select {padding:0; margin:0;}
header, aside, section, nav, footer, article,  { display: block; }
img { border: 0; }

body{ margin:0; padding:0; font-family:Arial; overflow-x:hidden;}


.container{ width:1180px; height:auto; margin:auto;}
.headerbox{ width:1180px; height:auto; float:left; }
.logo{ width:262px; height:auto; float:left; padding-top:19px;}
.phoneno{padding-top:24px; width:215px; height:51px; float:right; line-height:51px; font-size:24px; font-family:"Times New Roman", Times, serif;}
.phoneno img { float:left;}
.updated{ width:1180px; height:auto; float:left; font-size:10px; color:#818181; font-family:Arial; text-align:right; margin-bottom:10px; margin-top:10px;}
.nav-box{ width:1180px; height:78px; float:left; }
.nav{ width:1180px; height:53px; float:left; background:#0078bf;}
.nav ul { margin:0; padding:0;}
.nav ul li { list-style:none; float:left;}
.nav ul li a { font-family:Arial; text-transform:uppercase; color:#fff; text-decoration:none; line-height:53px; padding:0 23px;}
.nav-shade{ background:url(../images/nav-btm-shad.jpg) no-repeat top; width:1180px; height:29px; float:left; display:block;}
.regi{ width:133px; height:53px; line-height:53px; float:left; margin-left:30px;}
 .regi span { line-height:53px; color:#fff; font-style:italic;}
 .regi img { margin-top:10px; float:left;}
.langurage{}

.banner-main{ width:1180px; height:auto; float:left;}
.leftnav{ width:291px; height:325px; float:left;}
.leftnav span{ float:left;}
.leftnav ul { margin:0; padding:0;}
.leftnav ul li { list-style:none;    }
.leftnav  ul li a {text-decoration:none; color:#000; font-size:14px; font-family:Arial; font-style:italic; line-height:58px; padding-left:10px; }

.banner-slider{ width:887px; height:339px; float:left; background:url(../images/slider-bg.png) no-repeat;}
#sliderbox { width:822px; height:281px; float:left; margin:32px;}



.welcome-loginmain{ width:1180px; height:auto; float:left;}
.left-box{ width:779px; height:auto; float:left;}
.welcm{ width:779px; height:448px; float:left; background:#f6f6f6;}
.welcm h1 { line-height:60px; background:#efefef; font-size:22px; font-family:Arial; padding-left:10px; color:#606060;}
.welcm p{ font-family:Arial; font-size:14px; line-height:22px; text-align:justify; padding:0 10px;}
.right-box{width:380px; height:auto; float:left; margin-left:15px;}
.login{ width:380px; height:254px; float:left; border:1px solid #cccccc;}
.login h2 { font-family:Arial; line-height:48px; }


.welcm2{ width:170px; height:53px; line-height:53px; float:right; color:#fff993; font-size:14px; }
 .welcm2 span a { line-height:53px; color:#fff; font-size:10px; text-decoration:none; margin-left:20px;}
 .welcm2 span a:hover{ text-decoration:underline;}

.footer{ width:100%; height:100px; background:url(../images/footer-bg.png) repeat-x; float:left; margin-top:20px;}
.footerin{ width:1180px; height:auto; margin:auto;}
.foot1{ width:1180px; height:40px; }
.foot1 ul { padding:0; margin-left:220px; margin-top:30px;}
.foot1 ul li { list-style:none; float:left; }
.foot1 ul li a{ color:#fff; font-size:12px; padding:0 10px; text-decoration:none; }
.foot1 ul li a:hover{ text-decoration:underline;}

.formbox{ width:380px; height:254px; float:left; border:1px solid #cccccc;}
.formbox h2 {font-family:Arial; line-height:48px; background:#79bb51; font-size:16px; padding-left:20px; color:#fff; font-style:italic;}


.formbox h1{font-family:'Open Sans Condensed', serif; font-size:20px; text-decoration:none; color:#fff; margin-left:20px; margin-top:20px;}

.formbox form{ width:380px; height:auto;  margin-top:18px; margin:0 auto; margin-top:20px;}
.formbox  p {
	line-height: 49px;
}
.formbox  form label {
	display: inline-block;  
	width: 35px; height:39px; text-transform:uppercase;
	font-size: 14px;
	vertical-align: top; color:#fff; padding-left:0px;  
}
.formbox form input {
	 border:1px solid #69aee9; border-radius:7px; 
	height:34px; width: 300px;  padding-left:9px; font-size:12px; margin-left:30px;
}
.formbox  form textarea {
	background-color:#2d3032;
	background-repeat: repeat-x;
	border: 0;
	width: 210px; height:40px; margin-top:2px; padding-left:9px;
	border:0;color:#636363;
}
.formbox form input[type="button"] {
background:#b5da9f;
	border: 0 none;
	color:transparent;	 
	width:380px ; height:45px;
	float:left;  margin-top:25px;
	cursor: pointer; color:#000; border-radius:0px; margin-left:0px; color:#333333; font-size:15px; font-weight:bold;
}

.formbox form span a{ color:#000; font-size:12px; float:right; margin-right:40px; margin-top:4px; text-decoration:none; }
.formbox form span a:hover{ text-decoration:underline;}


.important-notice{ width:380px; height:auto; float:left; margin-top:20px;}
.important-notice h3{ font-size:16px; color:#fa0000; font-family:Arial; font-style:italic; height:40px; background:url(../images/icon-info.png) no-repeat right; width:215px; line-height:40px; padding-right:10px;  }
.important-notice p { color:#818181; font-size:10px; line-height:18px; text-align:justify;}
 































































